<div class="container">
  <div>
      <div class="navbar" [ngStyle]="navStyle">
          <div class="logo_img"></div>
          <div class="product_txt">{{prdct_txt}}</div>
          <div class="solutions_txt">{{solution_txt}}</div>
          <div class="pricing_txt">{{pricing_txt}}</div>
          <div class="login_btn"><span class="login_txt">{{login_txt}}</span></div>
          <div class="get_started_btn"><span class="get_started_txt">{{get_started_txt}}</span></div>
      </div>
      <div class="small_blob_img"></div>
      <div class="accounting_dots_img"></div>
      <div class="super_txt">{{super_txt}}</div>
      <div class="rectangle3"></div>
      <div class="collect_img_vdeo_img"></div>
      <div class="right_panel"></div>
      <div class="accounting_dots_img_right"></div>
      <div class="group6_img">
          <div class="eligibility_calculator">
              <div class="eligibility_calculator_txt_box"><span class="eligibility_txt">{{eligibility_txt}}</span></div>
              <span class="monthly_income_txt">{{monthly_income_txt}}</span>
              <div class="slidecontainer">
                  <p class="result_val"> <span id="demo">{{range1}}</span></p>
                  <input type="range" min="0" max="300000" value="0" class="slider" id="myRange">
              </div>
              <span class="start"> {{100000 | currency:'INR':'symbol':'.0'}}</span>
              <span class="end"> {{300000 | currency:'INR':'symbol':'.0'}}</span>
              <span class="mnthly_expense_txt">{{mnthly_expense_txt}}</span>
              <div class="slidecontainer1">
                  <p class="result_val1"> <span id="demo1"></span></p>
                  <input type="range" min="0" max="50000" value="0" class="slider1" id="myRange1">
              </div>
              <span class="repayment_txt">{{repayment_txt}}</span>
              <span class="tenure_txt">{{tenure_txt}}</span>
              <span class="drowp_down_img"></span>
              <span class="underline"></span>
              <span class="exist_loan_txt">{{exist_loan_txt}}</span>
              <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider_toggle round"></span>
              </label>
              <span class="exixt_emi_txt">{{exixt_emi_txt}}</span>
              <span class="emi_amnt"> {{15000 | currency:'INR':'symbol':'.0'}}</span>
              <span class="underline1"></span>
          </div>
          <div class="get_money">
              <span class="loan_amnt_txt">{{loan_amnt_txt}}</span>
              <span class="loan_amnt_number"> {{100000 | currency:'INR':'symbol':'.0'}}</span>
              <span class="emi_txt">{{emi_txt}}</span>
              <span class="emi_amnt_nmbr"> {{15000 | currency:'INR':'symbol':'.0'}}</span>
              <div class="get_mont_btn"><span class="get_money_txt">{{get_money_txt}}</span></div>
          </div>
      </div>
      <div class="sol_wave_bg_img"></div>
      <div>
          <div class="rectangle_copy23">
              <img class="get_paid_img" src="./assets/low_size_image/Get_Paid_Instantly.png" alt="get paid"/>
              <span class="quick_cash_txt">{{quick_cash_txt}}</span>
              <span class="term_loan_txt">{{term_loan_txt}}</span>
          </div>
          <div class="rectangle_copy19">
              <img class="low_interest_img" src="./assets/low_size_image/Low_interest_rate_img.png" alt="Low interest rate"/>
              <span class="low_interest_txt">{{low_interest_txt}}</span>
              <span class="interest_rate_txt">{{interest_rate_txt}} </span>
          </div>
          <div class="rectangle_copy17">
              <img class="secure_pymnts" src="./assets/low_size_image/Secure_Payments.png" alt="Secure payments"/>
              <span class="zro_ppr_txt">{{zro_ppr_txt}}</span>
              <span class="bank_statmnt_txt">{{bank_statmnt_txt}}</span>
          </div>
          <div class="rectangle2">
              <img class="rectangle2_img" src="./assets/low_size_image/Rectangle_2.png" alt="rectangle2"/>
              <img class="freelanc_feature_img" src="./assets/low_size_image/freelancer_feature_icon_6@1.5x.png" alt="Freelance Image"/>
              <span class="finances_txt">{{finances_txt}}</span>
              <span class="manage_bnkng_txt">{{manage_bnkng_txt}}</span>
          </div>
          <div class="rectangle_copy25">
              <img class="covid_img" src="./assets/low_size_image/Covid.png" alt="Covid"/>
              <span class="covid_txt">{{covid_txt}}</span>
              <span class="zro_emi_txt">{{zro_emi_txt}}</span>
              <span class="path_img"></span>
              <span class="small_path_img"></span>
          </div>
          
      </div>
      <div>
          <div class="boost_business_txt">{{boost_business_txt}}</div>
          <div class="line3_img"></div>
          <div class="get_hands_on_txt">{{get_hands_on_txt}}</div>
          <div class="outln_btn_copy2_img"><span class="open_acnt_txt">Get an Open Account</span></div>
      </div>
      
  </div>

  <!-- <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;
      
      slider.oninput = function() {
        output.innerHTML = this.value;
      }

      var slider1 = document.getElementById("myRange1");
      var output1 = document.getElementById("demo1");
      output1.innerHTML = slider1.value;
      
      slider1.oninput = function() {
        output1.innerHTML = this.value;
      }
  </script> -->
      
</div>